* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
    padding: 1rem;
    background-color: var(--accent1-color);
    color: black;
}

h1,
h2 {
    font-family: var(-- heading-font);
    color: var(-- primary-color);

}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
    margin: 0 10px;
}

.socialmedia img {
    width: 40px;
    height: auto;
    vertical-align: middle;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero {
    position: relative;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 8px 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
    font-size: 2.5rem;
    line-height: 1.2;
}

h2 {
    font-size: 2rem;
    text-align: center;
    margin: 1rem 0;
    white-space: nowrap;
}

.history img {
    display: block;
    width: 100%;
    height: auto;

}

.hero article img {
    float: right;
    width: 125px;
}

footer .socialmedia {
    text-align: center;
    margin-top: 10px;
}